/* Write your CSS here */
.google-suggestions {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.google-icon {
  height: 200px;
  width: 450px;
  background-size: cover;
}
.search-box-container {
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.container-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container-bg {
  box-shadow: 5px 5px 10px #000000;
}
.searchbar {
  height: 35px;
  width: 35px;
}
